# NETFLIX DATASET

In [1]:
import pandas as pd

In [2]:
netflix = pd.read_csv(r'./data/8. Netflix Dataset.csv')
netflix.head(5)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...

# 1. data check, frequency
- head()
- tail()
- shape
- size
- columns
- dtypes
- info()
- value_counts()
- unique()
- nunique()

In [3]:
# top of data
netflix.head()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [4]:
# bottom of data
netflix.tail(10)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
7779,s7778,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
7780,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
7781,s7780,TV Show,Zona Rosa,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...
7782,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7783,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7784,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7785,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7786,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7787,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7788,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [5]:
# data number of columns, rows
netflix.shape

(7789, 11)

In [6]:
# data number of size
netflix.size

85679

In [7]:
# data column names
netflix.columns

Index(['Show_Id', 'Category', 'Title', 'Director', 'Cast', 'Country',
       'Release_Date', 'Rating', 'Duration', 'Type', 'Description'],
      dtype='object')

In [8]:
# data type
netflix.dtypes

Show_Id         object
Category        object
Title           object
Director        object
Cast            object
Country         object
Release_Date    object
Rating          object
Duration        object
Type            object
Description     object
dtype: object

In [9]:
# non-null data count & type
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7789 entries, 0 to 7788
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Show_Id       7789 non-null   object
 1   Category      7789 non-null   object
 2   Title         7789 non-null   object
 3   Director      5401 non-null   object
 4   Cast          7071 non-null   object
 5   Country       7282 non-null   object
 6   Release_Date  7779 non-null   object
 7   Rating        7782 non-null   object
 8   Duration      7789 non-null   object
 9   Type          7789 non-null   object
 10  Description   7789 non-null   object
dtypes: object(11)
memory usage: 669.5+ KB

In [10]:
# data frequency
netflix['Category'].value_counts()

Movie      5379
TV Show    2410
Name: Category, dtype: int64

In [11]:
# unique data check
netflix['Director'].unique()

array([nan, 'Jorge Michel Grau', 'Gilbert Chan', ..., 'Josef Fares',
       'Mozez Singh', 'Sam Dunn'], dtype=object)

In [12]:
# number of unique data 
netflix['Director'].nunique()

4050

# 2. Data null check, change type, describe
- duplicate()
- isnull()
- dropna()
- isin()
- str.contains()
- str.split()
- to_datetime()
- dt.year.value_counts()
- groupby()
- countplot()
- max(), min(), mean()

#### Task1. Is there any Duplicate record in this dataset? If yes, then remove the duplicate records.

In [20]:
# duplicate(), 모든 변수에서 중복 데이터 찾기(defalut는 first)
print(netflix.shape)
print(netflix)

(7789, 11)
     Show_Id Category                                    Title  \
0         s1  TV Show                                       3%
1         s2    Movie                                    07:19
2         s3    Movie                                    23:59
3         s4    Movie                                        9
4         s5    Movie                                       21
...      ...      ...                                      ...
7784   s7783    Movie                                     Zozo
7785   s7784    Movie                                   Zubaan
7786   s7785    Movie                        Zulu Man in Japan
7787   s7786  TV Show                    Zumbo's Just Desserts
7788   s7787    Movie  ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS

               Director                                               Cast  \
0                   NaN  João Miguel, Bianca Comparato, Michel Gomes, R...
1     Jorge Michel Grau  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...
2          Gilbert Chan  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3           Shane Acker  Elijah Wood, John C. Reilly, Jennifer Connelly...
4        Robert Luketic  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...
...                 ...                                                ...
7784        Josef Fares  Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7785        Mozez Singh  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
7786                NaN                                            Nasty C
7787                NaN                         Adriano Zumbo, Rachel Khoo
7788           Sam Dunn                                                NaN

                                                Country        Release_Date  \
0                                                Brazil     August 14, 2020
1                                                Mexico   December 23, 2016
2                                             Singapore   December 20, 2018
3                                         United States   November 16, 2017
4                                         United States     January 1, 2020
...                                                 ...                 ...
7784  Sweden, Czech Republic, United Kingdom, Denmar...    October 19, 2020
7785                                              India       March 2, 2019
7786                                                NaN  September 25, 2020
7787                                          Australia    October 31, 2020
7788              United Kingdom, Canada, United States       March 1, 2020

     Rating   Duration                                               Type  \
0     TV-MA  4 Seasons  International TV Shows, TV Dramas, TV Sci-Fi &...
1     TV-MA     93 min                       Dramas, International Movies
2         R     78 min                Horror Movies, International Movies
3     PG-13     80 min  Action & Adventure, Independent Movies, Sci-Fi...
4     PG-13    123 min                                             Dramas
...     ...        ...                                                ...
7784  TV-MA     99 min                       Dramas, International Movies
7785  TV-14    111 min     Dramas, International Movies, Music & Musicals
7786  TV-MA     44 min  Documentaries, International Movies, Music & M...
7787  TV-PG   1 Season                 International TV Shows, Reality TV
7788  TV-MA     90 min                    Documentaries, Music & Musicals

                                            Description
0     In a future where the elite inhabit an island ...
1     After a devastating earthquake hits Mexico Cit...
2     When an army recruit is found dead, his fellow...
3     In a postapocalyptic world, rag-doll robots hi...
4     A brilliant group of students become card-coun...
...                                                 ...
7784  When Lebanon's Civil War deprives Zozo of his ...
7785  A scrappy but poor boy worms his way into a ty...
7786  In this documentary, South African rapper Nast...
7787  Dessert wizard Adriano Zumbo looks for the nex...
7788  This documentary delves into the mystique behi...

[7789 rows x 11 columns]

In [26]:
netflix.duplicated().value_counts()

False    7787
True        2
dtype: int64

In [32]:
netflix[netflix.duplicated(keep='first')]

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
6300,s684,Movie,Backfire,Dave Patten,"Black Deniro, Byron ""Squally"" Vinson, Dominic ...",United States,"April 5, 2019",TV-MA,97 min,"Dramas, Independent Movies, Thrillers",When two would-be robbers accidentally kill a ...
6622,s6621,Movie,The Lost Okoroshi,Abba T. Makama,"Seun Ajayi, Judith Audu, Tope Tedela, Ifu Enna...",Nigeria,"September 4, 2020",TV-MA,94 min,"Comedies, Dramas, Independent Movies",A disillusioned security guard transforms into...

In [33]:
# 중복행 제거
netflix.drop_duplicates(inplace = True)
netflix.shape

(7787, 11)

In [35]:
# 변수 내에서 중복값을 1개씩만 출력
netflix['Country'].unique()

array(['Brazil', 'Mexico', 'Singapore', 'United States', 'Turkey',
       'Egypt', 'India', 'Poland, United States', 'Thailand', 'Nigeria',
       nan, 'Norway, Iceland, United States', 'United Kingdom', 'Japan',
       'South Korea', 'Italy', 'Canada', 'Indonesia', 'Romania', 'Spain',
       'Iceland', 'South Africa, Nigeria', 'France',
       'United States, South Africa', 'Portugal, Spain',
       'Hong Kong, China, Singapore', 'United States, Germany',
       'South Africa, China, United States', 'Argentina',
       'United States, France, Serbia', 'Germany',
       'Denmark, France, Poland', 'Poland', 'Kenya',
       'New Zealand, United Kingdom', 'Pakistan', 'Australia',
       'Australia, United States', 'Mexico, United States',
       'United States, China', 'China, Hong Kong', 'Taiwan',
       'United States, United Kingdom', 'France, South Korea, Japan',
       'United States, Canada', 'United Kingdom, United States',
       'Netherlands, Denmark, South Africa', 'Canada, United States',
       'Denmark', 'Hong Kong', 'France, Netherlands, Singapore', 'China',
       'Philippines', 'United Kingdom, Spain, United States',
       'United Arab Emirates, United States', 'Netherlands',
       'United Kingdom, Hong Kong', 'Iran, France',
       'United States, United Kingdom, France',
       'United Kingdom, France, Belgium, United States, China',
       'Argentina, Brazil, France, Poland, Germany, Denmark',
       'Israel, United States', 'United States, Mexico',
       'Uruguay, Argentina, Spain', 'Singapore, France',
       'United Kingdom, United States, France, Germany',
       'Turkey, United States', 'Bulgaria, United States',
       'Australia, France', 'Hong Kong, Iceland, United States',
       'United Arab Emirates', 'United States, Chile',
       'Germany, France, Russia', 'Mauritius, South Africa',
       'United States, Japan', 'Lebanon', 'United States, Bulgaria',
       'Colombia', 'Uruguay, Argentina', 'Egypt, Algeria',
       'France, Egypt', 'Uruguay', 'Soviet Union, India',
       'Sweden, United States', 'South Africa', 'Malaysia',
       'Ireland, United Kingdom, United States', 'Spain, Italy',
       'United Kingdom, France, Germany',
       'United States, Germany, Canada', 'United States, India',
       'Japan, United States', 'Denmark, United States',
       'South Africa, United States', 'Canada, Luxembourg',
       'Serbia, United States', 'Canada, Nigeria',
       'Iceland, Sweden, Belgium', 'Ireland, Canada',
       'United States, Italy', 'Finland', 'India, Germany',
       'China, Spain, South Korea, United States', 'Spain, Belgium',
       'United Kingdom, Canada, United States, Germany',
       'Brazil, Netherlands, United States, Colombia, Austria, Germany',
       'France, Canada, Belgium',
       'India, United Kingdom, China, Canada, Japan, South Korea, United States',
       'France, Belgium', 'Indonesia, South Korea, Singapore', 'Norway',
       'Peru', 'France, Senegal, Belgium', 'Canada, France', 'Chile',
       'Romania, France, Switzerland, Germany',
       'Bulgaria, United States, Spain, Canada', 'Sweden, Netherlands',
       'Ghana', 'France, United States, Mexico',
       'Australia, United Kingdom, United Arab Emirates, Canada',
       'Singapore, United States', 'Japan, Canada, United States',
       'Saudi Arabia',
       'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay',
       'United States, France', 'Norway, Denmark, Netherlands, Sweden',
       'Namibia', 'Mexico, Finland', 'United States, Australia', 'Russia',
       'Australia, Canada', 'United Kingdom, Ireland', 'Belgium, France',
       'New Zealand', 'Uruguay, Spain, Mexico', 'South Korea, China',
       'United States, Canada, Indonesia, United Kingdom, China, Singapore',
       'India, Iran', 'United States, France, Japan',
       'United Kingdom, France', 'Turkey, India', 'Philippines, Qatar',
       'Vietnam', 'Ireland, Luxembourg, Belgium',
       'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait',
       'Russia, United States', 'United Kingdom, Russia, United States',
       'Argentina, Spain', 'Germany, Jordan, Netherlands',
       'Hong Kong, China', 'Argentina, United States',
       'France, Belgium, Spain', 'Germany, United States',
       'Denmark, Sweden, Israel, United States',
       'Ireland, United Kingdom', 'United States, Iceland',
       'United Arab Emirates, United Kingdom, India', 'Sweden',
       'Norway, Germany, Sweden', 'Finland, France', 'Denmark, Spain',
       'United Kingdom, Russia',
       'United States, United Kingdom, Australia',
       'India, United Kingdom', 'United States, Canada, Ireland',
       'Canada, United Kingdom',
       'United States, Israel, Italy, South Africa',
       'India, United States', 'United Kingdom, China',
       'Indonesia, Singapore', 'Netherlands, Denmark, France, Germany',
       'South Korea, Japan',
       'Philippines, Canada, United Kingdom, United States',
       'France, Malta, United States', 'Kuwait',
       'United Kingdom, Pakistan', 'Ireland', 'France, New Zealand',
       'United Kingdom, United States, Australia',
       'United Kingdom, Czech Republic, United States, Germany, Bahamas',
       'United States, Australia, China',
       'China, Germany, India, United States', 'Germany, Sri Lanka',
       'United States, Sweden', 'Canada, United States, Cayman Islands',
       'India, France', 'United Kingdom, Canada',
       'United States, India, Bangladesh',
       'United States, Canada, France',
       'Taiwan, China, France, United States', 'Brazil, France, Germany',
       'United States,', 'Turkey, France, Germany, Poland',
       'Australia, New Zealand, United States',
       'Germany, United States, Hong Kong, Singapore',
       'France, Germany, Switzerland', 'Mexico, Argentina',
       'Italy, United States, Argentina',
       'Germany, France, Luxembourg, United Kingdom, United States',
       'Canada, United States, United Kingdom',
       'United Kingdom, Canada, Italy', 'Czech Republic, France',
       'Zimbabwe', 'United Kingdom, France, Germany, Spain',
       'Taiwan, Hong Kong, United States, China', 'China, United States',
       'Canada, Brazil', 'United Kingdom, Australia', 'Hungary',
       'Germany, Australia', 'United Kingdom, Poland, United States',
       'Bulgaria', 'Philippines, United States', 'Finland, Germany',
       'United States, Thailand',
       'Spain, Belgium, Switzerland, United States, China, United Kingdom',
       'Denmark, Zimbabwe', 'United Kingdom, South Africa',
       'Finland, Sweden, Norway, Latvia, Germany',
       'United Kingdom, India',
       'South Africa, United States, New Zealand, Canada',
       'France, Qatar', 'France, Algeria',
       'United States, Italy, United Kingdom, Liechtenstein',
       'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom',
       'United States, Australia, Mexico',
       'United Kingdom, Czech Republic, Germany, United States',
       'Russia, Poland, Serbia', 'France, China, Japan, United States',
       'United States, South Korea, China', 'Germany, Belgium',
       'Chile, Argentina', 'China, United States, United Kingdom',
       'Pakistan, Norway, United States',
       'United Kingdom, Japan, United States', 'Philippines, Singapore',
       'United States, Canada, Belgium, United Kingdom', 'Venezuela',
       'Argentina, Uruguay, Serbia', 'United States, Mexico, Colombia',
       'Colombia, Peru, United Kingdom', 'Brazil, United States',
       'Czech Republic, United States',
       'Canada, France, Italy, Morocco, United States',
       'Canada, Spain, France', 'Hong Kong, United States',
       'France, Canada, China, Cambodia', 'United States, Indonesia',
       'Spain, France', 'Spain, Mexico, France', 'Spain, France, Italy',
       'Spain, France, United States', 'United States, France, Canada',
       'Israel', 'Italy, France', 'United Kingdom, Canada, United States',
       'Cambodia, United States', 'China, Japan',
       'United Arab Emirates, United States, United Kingdom',
       'Argentina, Italy', 'United Kingdom, Israel, Russia',
       'Italy, Switzerland, Albania, Poland', 'Spain, Cuba',
       'United States, Brazil', 'United States, France, Mexico',
       'United States, Nicaragua', 'Austria, Germany',
       'United Arab Emirates, Jordan, Lebanon',
       'France, United Kingdom, United States',
       'United Kingdom, United States, Spain, Germany, Greece, Canada',
       'France, Belgium, Luxembourg, Cambodia,', 'Italy, Turkey',
       'Brazil, France', 'India, Turkey', 'Kenya, United States',
       'United States, South Korea', 'South Korea, United States',
       'Italy, Canada, France', 'Thailand, United States',
       'United Kingdom, Denmark, Canada, Croatia', 'Netherlands, Belgium',
       'United Kingdom, Canada, United States, Cayman Islands',
       'Italy, Germany', 'United States, France, United Kingdom, Japan',
       'United States, United Kingdom, Denmark, Sweden',
       'United States, United Kingdom, Italy',
       'United States, France, Canada, Spain', 'Uruguay, Guatemala',
       'Germany, Australia, France, China',
       'United States, United Kingdom, Japan',
       'United States, United Kingdom, Canada',
       'Italy, Switzerland, France, Germany',
       'Russia, United States, China', 'United States, Canada, Germany',
       'United States, Czech Republic', 'Ireland, United States',
       'United States, United Arab Emirates',
       'France, Australia, Germany', 'Hong Kong, China, United States',
       'Lebanon, United Arab Emirates, France, Switzerland, Germany',
       'United States, South Korea, Japan', 'Romania, United States',
       'West Germany', 'United States, Ireland', 'Chile, Italy',
       'Ireland, United Kingdom, Italy, United States', 'Belgium',
       'Poland,', 'Slovenia, Croatia, Germany, Czech Republic, Qatar',
       'Canada, United Kingdom, Netherlands',
       'United Kingdom, United States, France',
       'Indonesia, United Kingdom', 'United States, Spain, Germany',
       'India, Japan', 'Switzerland, France, Belgium, United States',
       'China, South Korea, United States',
       'United Kingdom, France, Belgium',
       'Canada, Ireland, United States',
       'United Kingdom, United States, Dominican Republic',
       'United States, Senegal', 'Germany, United Kingdom, United States',
       'United States, Canada, United Kingdom',
       'Canada, United States, France', 'United Kingdom, Germany, Canada',
       'Argentina, France', 'South Africa, Germany, Netherlands, France',
       'Canada, United States, United Kingdom, France, Luxembourg',
       'Finland, Germany, Belgium',
       'United States, United Kingdom, Germany', 'Taiwan, China',
       'Cambodia', 'Spain, Portugal', 'Ireland, United States, France',
       'Jordan', 'Austria', 'Germany, United States, Canada',
       'United Kingdom, Germany, Canada, United States',
       'United States, France, Canada, Lebanon, Qatar',
       'Indonesia, Netherlands',
       'Netherlands, Belgium, United Kingdom, United States',
       'China, United States, Australia',
       'France, Belgium, China, United States', 'Spain, United Kingdom',
       'United States, Chile, Israel', 'Bangladesh',
       'United Kingdom, Norway, Denmark, Germany, Sweden',
       'United States, Japan, Canada', 'Norway, Denmark, Sweden',
       'China, India, Nepal', 'United States, Argentina',
       'Mexico, United States, Spain, Colombia',
       'Colombia, Mexico, United States',
       'United Kingdom, Belgium, Sweden', 'Nigeria, United Kingdom',
       'United Kingdom, South Korea', 'United States, Taiwan',
       'Netherlands, Belgium, Germany, Jordan', 'France, Canada',
       'United Kingdom, France, United States',
       'Denmark, Singapore, Canada, United States', 'Denmark, China',
       'Malaysia, Singapore, Hong Kong', 'Norway, United States',
       'United States, Philippines', 'United States, Greece, Brazil',
       'France, United States', 'South Korea, France',
       'United States, Australia, Samoa, United Kingdom',
       'Canada, South Africa', 'United Kingdom, Italy',
       'Germany, United Kingdom', 'China, United Kingdom',
       'Argentina, Chile, Peru', 'United States, Russia',
       'Uruguay, Germany', 'Turkey, Azerbaijan',
       'United States, China, Hong Kong',
       'Canada, Germany, France, United States',
       'Argentina, United States, Mexico',
       'France, United Kingdom, India', 'China, Taiwan',
       'Italy, United Kingdom, France', 'Poland, West Germany',
       'Germany, United States, Sweden', 'Canada, Spain',
       'United Kingdom, France, Belgium, United States', 'France, Japan',
       'Netherlands, Germany, Italy, Canada', 'United States, Cambodia',
       'United States, Greece', 'United States, China, Colombia',
       'United States, Spain, Italy',
       'Norway, United Kingdom, France, Ireland',
       'United States, Bermuda, Ecuador', 'United Kingdom, Poland',
       'China, Canada, United States', 'United States, Spain',
       'India, Mexico', 'United Kingdom, West Germany',
       'Pakistan, United States', 'Israel, Sweden, Germany, Netherlands',
       'Chile, United States, France', 'France, Morocco',
       'United Kingdom, Germany', 'Georgia, Germany, France',
       'Switzerland, France', 'Turkey, South Korea', 'Italy, India',
       'United States, Botswana', 'United States, Colombia, Mexico',
       'Chile, Argentina, France, Spain, United States',
       'Puerto Rico, United States, Colombia', 'United States, Nigeria',
       'Germany, United States, France',
       'Spain, Germany, Denmark, United States',
       'United Kingdom, United States, Japan',
       'Netherlands, United States',
       'United States, India, South Korea, China',
       'Denmark, Germany, Belgium, United Kingdom, France',
       'Denmark, Germany, Belgium, United Kingdom, France, Sweden',
       'France, Switzerland, Spain, United States, United Arab Emirates',
       'Norway, Sweden', 'United States, Ireland, United Kingdom, India',
       'United Kingdom, Singapore', 'Spain, Germany',
       'Germany, Czech Republic',
       'Denmark, Brazil, France, Portugal, Sweden',
       'Brazil, India, China, United States', 'India, Germany, Austria',
       'Italy, United States', 'Denmark, France, United States, Sweden',
       'Australia, Iraq', 'China, Morocco, Hong Kong', 'Spain, Colombia',
       'Australia, United Arab Emirates',
       'Canada, United States, Germany', 'France, Belgium, Italy',
       'United Kingdom, Thailand', 'Venezuela, Colombia',
       'France, Luxembourg, Canada', 'India, Nepal', 'Mexico, Spain',
       'Colombia, United States', 'Colombia, Mexico',
       'France, Germany, Czech Republic, Belgium',
       'Germany, China, United Kingdom', 'Canada, Hungary, United States',
       'Pakistan, United Arab Emirates', 'France, United Kingdom',
       'Spain, United Kingdom, United States', 'United Kingdom, Kenya',
       'United States, Norway, Canada', 'Canada, United States, Ireland',
       'Switzerland, Vatican City, Italy, Germany, France',
       'Portugal, France, Poland, United States',
       'France, Japan, United States', 'United States, New Zealand',
       'United States, New Zealand, Japan',
       'United States, Netherlands, Japan, France', 'India, Switzerland',
       'Canada, India', 'Canada, Japan, United States',
       'United States, Morocco', 'United States, Mexico, Spain, Malta',
       'Norway, Denmark', 'South Korea, Canada, United States, China',
       'Singapore, Japan, France',
       'Canada, Mexico, Germany, South Africa',
       'United Kingdom, United States, Canada',
       'Germany, France, United States, Canada, United Kingdom',
       'Peru, Germany, Norway', 'Singapore, Malaysia',
       'United States, Uruguay', 'India, Canada',
       'Ireland, Canada, United Kingdom, United States',
       'United States, Germany, Australia', 'Senegal',
       'Israel, Germany, France', 'Australia, France, Ireland',
       'South Africa, Angola', 'Austria, Czech Republic',
       'Australia, India', 'United States, United Kingdom, Canada, Japan',
       'Sweden, United Kingdom, Finland', 'Hong Kong, Taiwan',
       'United States, United Kingdom, Spain, South Korea',
       'South Korea, China, United States', 'Guatemala', 'Ukraine',
       'United States, United Kingdom, Canada, China',
       'Italy, South Africa, West Germany, Australia, United States',
       'United Kingdom, Finland, Germany',
       'South Africa, United States, Germany',
       'United States, Germany, United Kingdom, Australia',
       'India, Soviet Union', 'Italy, France, Switzerland',
       'Canada, France, United States', 'United States, Colombia',
       'India, Malaysia', 'Switzerland, United States',
       'Thailand, Canada, United States',
       'China, Hong Kong, United States', 'United Kingdom, New Zealand',
       'United Kingdom, France, Germany, United States',
       'South Korea, Czech Republic',
       'Czech Republic, United Kingdom, France',
       'Australia, United Kingdom, Canada',
       'Canada, United Kingdom, United States', 'United States, Hungary',
       'Jamaica, United States', 'Switzerland',
       'Australia, United Kingdom, United States, New Zealand, Italy, France',
       'France, United States, Canada', 'Australia, United Kingdom',
       'United States, Denmark',
       'United Kingdom, France, Canada, Belgium, United States',
       'Denmark, United Kingdom, Sweden', 'Belarus', 'Cyprus',
       'Lebanon, United States, United Arab Emirates',
       'United States, Hong Kong', 'United States, Kazakhstan',
       'Argentina, France, United States, Germany, Qatar',
       'United States, Germany, United Kingdom',
       'United States, Germany, United Kingdom, Italy',
       'United States, New Zealand, United Kingdom',
       'Finland, United States', 'Spain, France, Uruguay',
       'France, Belgium, United States', 'France, Canada, United States',
       'Spain, Argentina', 'United Kingdom, India, United States',
       'Chile, France',
       'United States, United Kingdom, France, Germany, Japan',
       'Canada, Norway', 'United States, Hungary, Ireland, Canada',
       'United States, Canada, China', 'United Kingdom, Malawi',
       'Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India',
       'United States, Czech Republic, United Kingdom',
       'Ghana, United States', 'Israel, Germany', 'Spain, Mexico',
       'Mexico, France', 'Brazil, United Kingdom',
       'France, Belgium, Luxembourg, Romania, Canada, United States',
       'Israel, Germany, Poland, Luxembourg, Belgium, France, United States',
       'France, Germany', 'United States, Malta, France, United Kingdom',
       'United Kingdom, United States, Germany, Denmark, Belgium, Japan',
       'Austria, United States', 'Canada, Australia',
       'Greece, United States',
       'United Kingdom, France, Belgium, Canada, United States',
       'Argentina, Chile', 'Czech Republic, Slovakia',
       'United Kingdom, Germany, United States, France',
       'United Kingdom, Lithuania', 'Egypt, France',
       'Spain, France, Canada', 'United States, Greece, United Kingdom',
       'United Kingdom, China, United States, India', 'Taiwan, Malaysia',
       'United States, Sweden, Norway',
       'United Kingdom, United States, Morocco',
       'United States, United Kingdom, Morocco',
       'United States, China, Canada', 'Spain, Canada, United States',
       'Canada, Belgium', 'United States, India, United Arab Emirates',
       'United Kingdom, Canada, France, United States',
       'Spain, Thailand, United States', 'Canada, Germany, South Africa',
       'India, Germany, France',
       'United States, Israel, United Kingdom, Canada',
       'United Kingdom, Hungary, Australia', 'Lebanon, France',

#### Task2. Is there any Null Value present in any column? Show with Heat-map.

In [38]:
#isnull()
netflix.isnull().sum()

Show_Id            0
Category           0
Title              0
Director        2388
Cast             718
Country          507
Release_Date      10
Rating             7
Duration           0
Type               0
Description        0
dtype: int64

# 3. Data add, Filtering
- Creating New Columns
- Creating New Dataframe
- Filtering Single Column
- Filtering Multiple Columns
- Filtering with And
- Filtering with Or

# 4. Seaborn Graph
- Bar Graphs